.container {
  display: flex;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 6rem;
  flex-grow: 1;
  min-height: 100vh;
}

.textField {
  width: 500px;
  margin-bottom: 20px; 
}

.paragraph {
  font-family: Arial, sans-serif;
  margin-top: 20px; 
}

.link {
  text-decoration: none; 
  color: #333; 
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;  
  gap: 20px;  
}

.card {
  width: 600px; 
  margin: 20px 0;  
}

.cardActions {
  display: flex;
  justify-content: space-between;
}


.leftButton {
  margin-right: auto; 
}

.rightButton {
  margin-left: auto; 
  text-align: right; 
}


/* Tablet */
@media (max-width: 768px) { 
  .textField {
    width: 300px; 
  }
}

/* Mobile */
@media (max-width: 480px) { 
  .textField {
    width: 90%; 
  }
}
